@page
@model LaTrobeScheduler.Pages.SubjectInstances.IndexModel

@{
    ViewData["Title"] = "Subject Instances";
}

<h1>Subject Instances</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name or subject code:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubjectInstances[0].StudentNumbers)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                    @Html.DisplayNameFor(model => model.SubjectInstances[0].StartDate)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.LecturerSort">
                    @Html.DisplayNameFor(model => model.SubjectInstances[0].Lecturer)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectInstances[0].Subject)

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SubjectInstances) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentNumbers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lecturer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.SubjectName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SubjectInstanceID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SubjectInstanceID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SubjectInstanceID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
