@page
@model LaTrobeScheduler.Pages.SubjectInstances.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubjectInstance[0].StudentNumbers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectInstance[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectInstance[0].Lecturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectInstance[0].Subject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SubjectInstance) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentNumbers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lecturer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.SubjectName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SubjectInstanceID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SubjectInstanceID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SubjectInstanceID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
